fastapi==0.95.2
uvicorn[standard]==0.22.0
pillow==9.5.0                # prebuilt wheel for linux
easyocr==1.6.2
torch==2.2.0+cpu              # CPU wheel
torchvision==0.15.2+cpu       # matching torchvision CPU wheel
- -f https://download.pytorch.org/whl/cpu/torch_stable.html
requests
uvloop
aiofiles
